//STEP一覧表示
.c-allList{
    width: 100%;
    &__returnArea{
        margin-bottom: $space_m;
    }
    &__link{
        background-image: linear-gradient(90deg, $font-color_default, $font-color_default);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 0 1px;
        padding: $space_m 0 0 $space_m;
        &:hover{
            background-size: 100% 1px;
        }
    }
    &__searchArea{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin:$space_3l auto $space_3l auto;
        justify-content: space-between;
        @include mq(){
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__sort{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        vertical-align: middle;
        padding-bottom: $space_3l;
        @include mq(){
            justify-content: center;
        }
    }
    &__selectSort{
        width: 25%;
        margin: 0 0 0 $space_l;
        border: none;
        box-shadow: none;
        @include mq(){
            width: 40%;
        }
    }
    &__para{
        text-align: center;
    }
    &__editLink{
        display: inline-block;
        width: 100%;
        color: $font-color_white;
        padding: $space_m $space_xl $space_m $space_xl;
        @include mq(){
            padding: $space_s $space_xl;
        }
    }

}

