//認証画面リンクcss
.c-authPageLink{
    background-image: linear-gradient(90deg, $font-color_default, $font-color_default);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
    &:hover{
        background-size: 100% 1px;
    }

}
