//ボタン部分
.c-button{
    color: $font-color_white;
    background: $background-color_black;
    padding: $space_m $space_xl $space_m $space_xl;
    border-radius: 10px;
    border: none;
    min-width: 140px;
    border-top:2px solid rgba(255,255,255,0.2);
    border-bottom:2px solid rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    @include mq(){
        min-width: 120px;
    }
    &:hover{
        opacity: .7;
    }
    &:active{
        -webkit-transform: translate(0,2px);
        -moz-transform: translate(0,2px);
        transform: translate(0,2px);
        border-bottom:none;
        margin-bottom: 2px;
       }
}
