//グリッドレイアウト
.c-grid{
    margin-top: $space_3l;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(100% /4));
    grid-auto-rows: minmax(100px, auto);
    row-gap: $space_xxl;
    @include mq(){
        grid-template-columns: repeat(2, calc(100% /2));
    }
    @include mq(tab){
        grid-template-columns: repeat(2, calc(100% /2));
    }
}
