//グリッドレイアウト
.c-grid{
    margin-top: $space_3l;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(100% /4));
    grid-auto-rows: minmax(100px, auto);
    row-gap: calc($space_xl * 2) ;
    @include mq(tab){
        grid-template-columns: repeat(2, calc(100% /2));
    }
    @include mq(){
        column-gap: $space_xxl;
        row-gap: $space_xxl;
        grid-template-columns: repeat(2, calc( calc(100% - 30px ) /2));
    }
}
