//スマートフォン用ハンバーガーメニューのレイアウト

.c-headerMenu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background:$background-color_default;
    &__return{
        height: 10vh;
        font-size: $font-size_xxl;
        text-align: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding:0  $space_xxl 0 0;
        background:$background-color_default;
    }
    &__icon{
        display: inline-block;
        &:hover{
            opacity: .7;
        }
    }
    &__footer{
        height: 30vh;
        background: $background-color_black;
    }
}
