//ヘッダー部分
.c-header{
    width: 100%;
    max-width: $site-width;
    margin: 0 auto 0 auto;
    padding: $space_3l $space_m $space_s $space_m;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include mq(){
        width: 100%;
        max-width: 100%;
        padding: $space_s 0 $space_s 0;
        height: $site-height-headerMd;
        align-items: center;
    }
    @include mq(tab){
        width: 100%;
        max-width: 100%;
    }
    &__humburgerMenu{
        display: none;
        @include mq(){
            display: block;
            height: $site-height-headerMd;
            display: flex;
            align-items: center;
        }
    }
    &__icon{
        font-size: $font-size_xl;
        color: $font-color_gray;
        padding: 0 $space_m 0 $space_m;
    }
    &__flexRight{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include mq(tab){
            width: 90%;
        }
        @include mq(){
            display: none;
        }
    }
}
