//input部分
.c-input{
    display: block;
    width: 100%;
    background: $background-color_lightgray;
    padding: $space_m;
    font-size: $font-size_default;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    color: $font-color_default;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    &:hover{
        box-shadow: 0 0 3px 0 rgba(255,124,060,1);
        outline: 0;
    }
    &:focus{
        box-shadow: 0 0 3px 0 rgba(255,124,060,1);
        outline: 0;
    }
    &--error{
        border:1px solid $background-color_red;
        background: $background-color_lightRed;
    }
    &--invalid{
        cursor: not-allowed;
        background: $background-color_gray;
    }
    &--sizeM{
        width: 40%;
        margin: 0 $space_l 0 $space_l;
        border: none;
        box-shadow: none;
        @include mq(){
            width: 80%;
        }
    }
    &--marginBottomL{
        margin: 0 0 $space_l 0;
    }

}
