//ラベル部分
.c-label{
    display: block;
    text-align: left;
    cursor: pointer;
    &--marginl{
        margin: $space_l 0 $space_l 0;
    }
    &--rowType{
        margin: 0 $space_l 0 $space_l;
        line-height: 3;
    }
    &__passwordIcon{
        margin-left: $space_l;
        padding: 0 $space_s 0 $space_s;
        transition-duration: 0.6s;
        color: $font-color_gray;
        &:hover{
            color: $font-color_orange;
        }
    }
}
