//ロゴ部分
.c-logo{
    width: 10%;
    @include mq(){
        width: 25%;
        padding: 0 $space_m 0 $space_m;
    }
    &--header{
        @include mq(){
            height: $site-height-headerMd;
            display: flex;
            align-items: center;
        }
    }
    &--footer{
        margin: 0 auto 0 auto;
    }
}
