//オーナメント部分
.c-ornament{
    position: relative;
        z-index: 1;
        &::before{
            border-top: 1px solid $font-color_light-black;
            content: "";
            display: block;
            position: relative;
            top: 20px;
            z-index: 0;
            @include mq(){
                top: 15px;
            }
        }
        &::after{
            border-top: 1px solid $font-color_light-black;
            content: "";
            display: block;
            position: relative;
            top: -20px;
            z-index: 0;
            @include mq(){
                top: -15px;
            }
        }
        &__border{
            display: inline-block;
            position: relative;
            padding: 0 $space_l 0 $space_l;
            z-index: 1;
            background: $background-color_default;
        }
}
