//ページネーション部分
.c-pagination{
    margin: $space_3l auto 0 auto;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    &__button{
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 35px;
        border-radius: 40px;
        padding: 0;
        border: 1px solid $background-color_light-black;
        text-align: center;
        margin: 0 $space_s 0 $space_s;
        &:hover{
            text-decoration: none;
            opacity: .8;
        }
        &--first{
            width: 70px;
        }
        &--last{
            width: 70px;
        }
        &--selected{
            background: $background-color_light-black;
            color: $font-color_white;
        }
        &--noborder{
            border: none;
            font-size: $font-size_xxl;
            line-height: 20px;
        }
    }
}
