//パネルレイアウト
.c-panel{
    background: $background-color_default;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    cursor: pointer;
    margin: 0 $space_xl 0 $space_xl;
    aspect-ratio: 1/1;
    border-radius: 10px;
    position: relative;
    &:hover{
        opacity: .7;
    }
    @include mq(){
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &:hover{
            opacity: 1;
        }
    }
    &__routerLink{
        min-height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        &:hover{
            text-decoration: none;
        }
    }
    &__image{
        display: inline-block;
        height: 100px;
        border-radius: 10px 10px 0 0;
        @include mq(tab){
            height: 170px;
        }
        @include mq(){
            height: 100px;
        }
        @include mq(sm){
            height: 70px;
        }
    }
    &__head{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: $space_s auto auto $space_s;
    }
    &__category{
        width: 100%;
        display: block;
        flex-grow: 1;
        padding:$space_m $space_m $space_m $space_m;
        font-size: $font-size_s;
        color: $font-color_blue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mq(tab){
            font-size: $font-size_default;
        }
        @include mq(){
            padding: $space_s $space_s 0 $space_s;
            font-size: $font-size_xs;
        }

    }
    &__title{
        width: 100%;
        flex-grow: 1;
        padding: $space_m 0 $space_m $space_s;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size_default;
        @include mq(tab){
            font-size: $font-size_xl;
        }
        @include mq(){
            padding: $space_s;
            font-size: $font-size_l;
        }
        @include mq(sm){
            padding: $space_s;
            font-size: $font-size_m;
        }
    }
    &__summary{
        width: calc(100% - $space_m*2);
        max-width: 100%;
        flex-grow: 1;
        margin: $space_m;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size_s;
        @include mq(tab){
            font-size: $font-size_default;
        }
        @include mq(){
            display: none;
        }
    }
    &__para{
        width: 100%;
        flex-grow: 1;
        padding: 0 $space_m $space_s $space_m;
        font-size: $font-size_s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mq(tab){
            font-size: $font-size_default;
        }
        @include mq(){
            font-size: $font-size_xs;
            padding: 0 $space_s $space_s $space_s;
        }
    }
    &__barArea{
        width: 100%;
        padding: $space_s $space_m $space_s $space_m;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq(){
            padding: 0 $space_s $space_s $space_s;
        }
    }
    &__bar{
        display: inline-block;
        width: 80%;
    }
    &__progress{
        width: 20%;
        text-align: left;
        padding-left: $space_s;
        font-size: $font-size_s;
        @include mq(tab){
            font-size: $font-size_default;
        }
        @include mq(){
            font-size: $font-size_xs;
        }
    }
    &__footer{
        width: 100%;
        text-align: right;
        font-size: $font-size_s;
        padding: 0 $space_m $space_m $space_m;
        color: $font-color_orange;
        margin-top: auto;
        &--flex{
            display: flex;
            align-items:flex-end;
            justify-content: flex-end;
        }
        @include mq(tab){
            font-size: $font-size_default;
            justify-self: baseline;
        }
        @include mq(){
            padding: 0 $space_s $space_s $space_s;
            font-size: $font-size_xs;
        }
    }
}
