.c-subStep{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: $space_l;
    margin-bottom: $space_3l;
    &__head{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title{
        font-size: $font-size_xl;
    }
    &__input{
        margin: 0 0 $space_l 0;
    }
    &__icon{
        text-align: right;
        font-size: $font-size_xl;
        color: $font-color_gray;
        cursor: pointer;
        padding: 0 $space_m 0 $space_m;
        &:hover{
            color: $font-color_orange;
        }
        &--disable{
            visibility: hidden;
            cursor: default;
        }
    }
    &__textarea{
        height: 70px;
        margin: 0 0 $space_l 0;
    }
    &__button{
        display: inline-block;
        width: 30%;
        text-align: center;
        @include mq(){
            padding: $space_m $space_s;
        }
        @include mq(tab){
            width: 40%;
        }
    }
    &__submit{
        margin-top: $space_3l;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
