//STEP登録画面全体レイアウト
.p-newStep{
    width: 100%;
    &__form{
        width: 50%;
        @include mq(){
            width: 80%;
        }
    }
    &__button{
        background: $background-color_orange;
        &--invalid{
            cursor: not-allowed;
            &:hover{
                opacity: 1;
            }
        }
    }
}


