//STEP登録画面全体レイアウト
.p-newStep{
    width: 100%;
    &__title{
        margin-bottom: $space_3l;
        &::before{
            top: 20px;
        }
        &::after{
            top:-20px;
        }
    }
    &__form{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        @include mq(){
            width: 80%;
        }
    }
    &__label{
        margin: $space_l 0 $space_l 0;
    }
    &__input{
        &--invalid{
            cursor: not-allowed;
            background: $background-color_gray;
        }
    }
    &__textarea{
        height: 100px;
        &--invalid{
            cursor: not-allowed;
            background: $background-color_gray;
        }
    }
    &__select{
        color: $font-color_default;
        &--invalid{
            cursor: not-allowed;
            background: $background-color_gray;
        }
    }
    &__option{
        color: $font-color_default;
        cursor: pointer;
        &--disable{
            color: $font-color_gray;
        }
    }
    &__button{
        background: $background-color_orange;
        &--invalid{
            cursor: not-allowed;
            &:hover{
                opacity: 1;
            }
        }
    }
}


