//STEP一覧画面
.p-allStep{
    &__title{
        &::before{
            top: 20px;
        }
        &::after{
            top:-20px;
        }
    }
    &__form{
        margin-bottom: $space_3l;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        @include mq(){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__select{
        width: 25%;
        margin: 0 $space_l 0 $space_l;
        border: none;
        box-shadow: none;
        &:first-child{
            margin: 0 $space_l 0 0;
        }
        @include mq(){
            width: 80%;
            margin: $space_l 0 $space_l 0;
            &:first-child{
                margin:0;
            }
        }
    }
    &__input{
        width: 40%;
        margin: 0 $space_l 0 $space_l;
        border: none;
        box-shadow: none;
        @include mq(){
            width: 80%;
        }
    }
    &__button{
        width: 10%;
        margin: 0 0 0 $space_l;
        background: $background-color_orange;
        @include mq(){
            width: 80%;
            margin: $space_l 0 $space_l 0;
        }
    }
    &__sort{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        vertical-align: middle;
        padding-bottom: $space_3l;
        @include mq(){
            justify-content: center;
        }
    }
    &__label{
        width: auto;
        margin: 0 $space_l 0 $space_l;
        line-height: 3;
    }
    &__selectSort{
        width: 25%;
        margin: 0 0 0 $space_l;
        border: none;
        box-shadow: none;
        @include mq(){
            width: 40%;
        }
    }
    &__para{
        text-align: center;
    }
}

