//STEP編集画面 全体レイアウト
.p-editStep{
    width: 100%;
    &__title{
        margin-bottom: $space_3l;
    }
    &__form{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        @include mq(){
            width: 80%;
        }
    }
    &__mainStep{
        width: 100%;
        margin: 0 auto $space_4l auto;
    }
    &__deleteImage{
        text-align: right;
    }
    &__button{
        background: $background-color_red;
        &--invalid{
            cursor: not-allowed;
            &:hover{
                opacity: 1;
            }
        }
        &--reset{
            display: inline-block;
            margin-bottom: $space_l;
        }
    }
    &__error{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
