//トップページ3つの特徴部分のレイアウト
.p-feature{
    margin: $space_3l auto 0 auto;
    &__title{
        font-size: $font-size_3l;
        @include mq(){
            font-size: $font-size_xl;
        }
    }
    &__flex{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        @include mq(){
            flex-direction: column;
        }
    }
    &__item{
        margin-top: $space_3l;
        width: calc(100%/3);
        padding: $space_l;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include mq(){
            width: 100%;
        }
    }
    &__image{
        text-align: center;
        font-size: $font-size_4l;
        margin-bottom: $space_l;
    }
    &__icon{
        &::before{
            display: inline-block;
            line-height: 80px;
            width: 80px;
            aspect-ratio: 1/1;
            display: inline-block;
            background: $background-color_gray;
            border-radius: 50%;
        }
    }
    &__headline{
        font-size: $font-size_l;
        font-weight: bolder;
        margin-bottom: $space_l;
    }
    &__para{
        font-size: $font-size_m;
        overflow-wrap: break-word;
    }
}
