//フッター部分
.p-footer{
    width: $site-width;
    max-width: $site-width;
    margin: $space_3l auto $space_3l auto;
    @include mq(tab){
        width: 100%;
        margin: $space_3l auto $space_3l auto;
    }
    @include mq(){
        width: 100%;
        margin: $space_l auto $space_l auto;
    }
    &__logo{
        margin: 0 auto 0 auto;
    }
    &__guidLink{
        margin: $space_3l auto $space_3l auto;
        @include mq(){
            margin: $space_l auto $space_l auto;
        }
    }
    &__menu{
        justify-content: space-around;
        @include mq(){
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 132.8px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    &__list{
        margin-left: $space_xl;
        @include mq{
            margin-left: 0;
            padding: $space_s;
        }
    }
    &__link{
        background-image: linear-gradient(90deg, $font-color_default, $font-color_default);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 0 1px;
        &:hover{
            background-size: 100% 1px;
        }
    }
    &__copyRight{
        font-size: $font-size_s;
        text-align: center;
    }
}
