//ヘッダー部分
.p-header{
    width: $site-width;
    max-width: $site-width;
    margin: 0 auto 0 auto;
    padding: $space_3l 0 $space_s 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include mq(){
        width: 100%;
        max-width: 100%;
        padding: $space_s 0 $space_s 0;
        height: $site-height-headerMd;
        align-items: center;
    }
    @include mq(tab){
        width: 100%;
        max-width: 100%;
    }
    &__logo{
        @include mq(){
            height: $site-height-headerMd;
            display: flex;
            align-items: center;
        }
    }
    &__humburgerMenu{
        display: none;
        @include mq(){
            display: block;
            height: $site-height-headerMd;
            display: flex;
            align-items: center;
        }
    }
    &__icon{
        font-size: $font-size_xl;
        color: $font-color_gray;
        padding: 0 $space_m 0 $space_m;
    }
    &__flexRight{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include mq(tab){
            width: 90%;
        }
        @include mq(){
            display: none;
        }
    }
    &__list{
        margin-left: $space_3l;
    }
    &__link{
        background-image: linear-gradient(90deg, $font-color_default, $font-color_default);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 0 1px;
        &:hover{
            background-size: 100% 1px;
        }
    }
}
