//トップヒーロー部分
.p-hero{
    text-align: center;
    background-image: url('../../../../resources/image/hero-image4.jpg');
    //background-attachment: fixed;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq(tab){
        height: 60vh;
        min-height: 60vh;
    }
    @include mq(){
        height: 40vh;
        min-height: 40vh;
    }
    &__title{
        font-size: $font-size_4l;
        color: $font-color_white;
        font-weight: bold;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        @include mq(){
            font-size: $font-size_xl;
        }
    }
    &__para{
        color:$font-color_white;
        padding: $space_xl 0 0 0;
        font-size: $font-size_xxl;
        font-weight: bold;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        @include mq(){
            font-size: $font-size_l;
        }
    }
    &__button{
        margin-top: $space_3l;
        background: $background-color_orange;
        @include mq(){
            margin-top: $space_l;
        }
    }
    &__link{
        color: $font-color_white;
    }
}
