//パスワード再設定画面
.p-resetPassword{
    &__title{
        &::before{
            top: 20px;
        }
        &::after{
            top:-20px;
        }
    }
    &__label{
        margin: $space_l 0 $space_l 0;
    }
    &__input{
        &--invalid{
            cursor: not-allowed;
            background: $background-color_gray;
        }
    }
    &__button{
        background:$background-color_orange;
    }
}

