//全体レイアウト
#l-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    @include mq(){
        padding: 0 3% 0 3%;
    }
    @include mq(tab){
        padding: 0 3% 0 3%;
    }
}
