//全体レイアウト
#l-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: calc(100vw - 20px);
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    @include mq(tab){
        width: 100%;
    }
    @include mq(){
        width: 100%;
        padding: 0 3% 0 3%
    }

}
