//フッターレイアウト
#l-footer{
    width: calc(100vw - 20px);
    min-height: $site-height-footer;
    margin: auto auto 0 auto;
    border-top: 1px solid $background-color_gray;
    box-shadow: 0 -4px 3px -3px rgba(0, 0, 0, .12), 0 0 0 rgba(0, 0, 0, .24);
    @include mq(){
        width: 100%;
    }
}
