//ヘッダーレイアウト
#l-header{
    width: 100%;
    height: $site-height-header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: $background-color_default;
    @include mq(){
        width: 100%;
        height: $site-height-headerMd;
        padding:0 2% 0 2%
    }
    @include mq(tab){
        width: 100%;
        padding:0 2% 0 2%
    }
}
