//===========================================
//fadeアニメーション
//===========================================

//Sessionメッセージ用fadeアニメーション（duratio 1.5s）
.fade-enter-active {
    transition: opacity 1s 1.5s;
    opacity: 0;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-leave-active {
    transition: opacity 1s;
    opacity: 1;
  }
  .fade-leave-to {
    opacity: 0;
  }

//fadeアニメーション（durationなし）
.fadeSoon-enter-active, .fadeSoon-move {
    transition: opacity 1s ease;
    opacity: 0;
}
.fadeSoon-enter-to {
    opacity: 1;
}
.fadeSoon-enter-from{
    opacity: 0;
}
.fadeSoon-leave-active, .fadeSoon-move {
    transition: all 0.5s ease;
    opacity: 0;
}
.fadeSoon-leave-to {
    opacity: 0;
}
.fadeSoon-leave-from{
    opacity: 1;
}

//トップページ　aboutの文章のfadeInアニメーション
.u-jsFadeIn{
    opacity: 0;
    position: relative;
    top:10px;
    transition:1.5s;
}

.u-jsFadeIn--active{
    opacity: 1;
    top:0;
}

