//route遷移時のアニメーション
.u-open{
    animation-name: PageAnime-content__open;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: auto;
  }
  @keyframes PageAnime-content__open {
      0% {
      opacity: 0;
      }
      100% {
      opacity: 1;
    }
  }
.u-close{
    animation-name: PageAnime-content__close;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    opacity: 1;
    pointer-events: none;
}
@keyframes PageAnime-content__close {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}

.u-animation{
    &__element{
        opacity: 1 !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% / 10);
        z-index: 999;
        animation-name: PageAnime-move-order;
        animation-duration: 0.5s;
        animation-delay: 0.1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        &:nth-child(2){
            left: 10%;
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            left: 20%;
            animation-delay: 0.3s;
        }
        &:nth-child(4){
            left: 30%;
            animation-delay: 0.4s;
        }
        &:nth-child(5){
            left: 40%;
            animation-delay: 0.5s;
        }
        &:nth-child(6){
            left: 50%;
            animation-delay: 0.6s;
        }
        &:nth-child(7){
            left: 60%;
            animation-delay: 0.7s;
        }
        &:nth-child(8){
            left: 70%;
            animation-delay: 0.8s;
        }
        &:nth-child(9){
            left: 80%;
            animation-delay: 0.9s;
        }
        &:nth-child(10){
            left: 90%;
            animation-delay: 1.0s;
        }
        &::before{
            background: $background-color_gray;
            box-shadow: 0 0 0 1px $background-color_gray;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
@keyframes PageAnime-move-order {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(100%);
    }
}
