//slideUpアニメーション
.slideUp-enter-from{
    height: 0;
}
.slideUp-enter-active, .slideUp-move{
    transition: all 0.5s ease;
    height: 0;
}
.slideUp-enter-to{
    height: 30vh;
}

//SlideDownアニメーション
.top-enter-active, .top-leave-active {
    transform: translate(0px, 0px);
    transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.top-enter, .top-leave-to {
transform: translateY(-100vh) translateY(0px);
}
